

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fylo FrontEnd</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="nav.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
  <div class="grid-container">
    <div class="grid-item-one">
        
    </div>
    <div class="grid-item-two">
        <header>
          <nav class="topnav">
            <img src="logo.svg">
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.gmail.com"><i class="fas fa-envelope-square"></i></a>
          </nav>
        </header>
        <main>
          <h3> All your files in one secure </h3>
          <h3> location, accessible anywhere </h3>

          <div>
            
          </div>
        </main>
    </div>
  </div>
</body>

</html>