.topnav {
  padding-bottom: 30px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav i {
  float: left;
  display: block;
  color: black;
  padding-left: 30px;
}

img {
  float: left;
  display: block;
}